<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='map.css')}}" />
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
</head>

<body>
  <ul class="nav nav-tabs">
		<li role="presentation"><a href="/"> Home </a></li>
	  <li role="presentation" class="active"><a href="/map"> Map </a></li>
	  <li role="presentation"><a href="/events"> Events </a></li>
	</ul>
  <h1> This is where a map should be </h1>
</body>

</html>
