<!DOCTYPE html>
<html>

<!--Import eveeeeerything-->
<head>
	<!--Front end dependencies from bower-->
	<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bower_components/leaflet/dist/leaflet.css"/>
	<link rel="stylesheet" href="/static/bower_components/sidebar-v2/css/leaflet-sidebar.css" />
	<link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />
	<script src="/static/bower_components/jquery/dist/jquery.js"></script>
	<script src="/static/bower_components/leaflet/dist/leaflet.js"></script>
	<script src="/static/bower_components/moment/moment.js"></script>
	<script src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/bower_components/bootstrap/js/dropdown.js"></script>

	<!--Back end dependencies from npm (eventually)-->
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

	<!-- Import custom scripts -->
	<script src="{{ url_for('static', filename='map/map.js') }}"></script>

	<!--initialise socketio connection-->
	<script type="text/javascript" charset="utf-8">
	    var socket = io.connect('http://' + document.domain + ':' + location.port);
	</script>
</head>

<!--Declare the sidebar-->
<body>
	<div id="sidebar" class="sidebar collapsed">
			<!-- Nav tabs -->
			<div class="sidebar-tabs">
					<ul role="tablist">
							<li><a href="#parameters" role="tab"><i class="fa fa-sliders"></i></a></li>
							<li><a href="#events" role="tab"><i class="fa fa-exclamation-circle"></i></a></li>
							<li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
					</ul>
			</div>

			<!-- Declare the sidebar tab panes and their content -->
			<div class="sidebar-content">
					<!-- Content of parameters pane -->
					<div class="sidebar-pane" id="parameters">
							<h1 class="sidebar-header">Parameters<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
							<br>
							<form>
								<label>Date / Time Range</label>
									<br>
									<div class='input-group date' id='start_timepicker'>
			                <input type='text' class="form-control" id='start_date_time'/>
			                  <span class="input-group-addon">
			                      <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			            </div>
			        		<script type="text/javascript">
				            $(function () {
											var dateNow = new Date();
											$('#start_timepicker').datetimepicker({
													defaultDate: {{ start_date_time | tojson }}
											});
				            });
									</script>
			            <div class='input-group date' id='end_timepicker'>
			                <input type='text' class="form-control" id='end_date_time' />
			                  <span class="input-group-addon">
			                      <span class="glyphicon glyphicon-calendar"></span>
			                </span>
			            </div>
					        <script type="text/javascript">
					            $(function () {
												var dateNow = new Date();
								        $('#end_timepicker').datetimepicker({
								            defaultDate: {{ end_date_time | tojson }}
								        });
					            });
					        </script>
							<br>
									<label>Display</label>
									<div class="checkbox">
									  <label><input type="checkbox" {% if show_stations == 'True' %} checked="checked" {% endif %} id='toggle_stations'>Stations</label>
									</div>
									<div class="checkbox">
									  <label><input type="checkbox" {% if show_events == 'True' %} checked="checked" {% endif %} id='toggle_events'>Events</label>
									</div>
									<div class="checkbox">
									  <label><input type="checkbox" {% if show_trips == 'True' %} checked="checked" {% endif %} id='toggle_trips'>Trips</label>
									</div>
									<script>
										$(function() {
											$('#toggle_trips, #toggle_events, #toggle_stations').change(function() {
															socket.emit('parameters_updated', {
																date_start: document.getElementById('start_date_time').value,
																date_end: document.getElementById('end_date_time').value,
																show_stations: document.getElementById('toggle_stations').checked,
																show_events: document.getElementById('toggle_events').checked,
																show_trips: document.getElementById('toggle_trips').checked
															});
											});
										});

										//bit of a hack, but required to get the date/time changes
										$(function() {
											$('#start_timepicker, #end_timepicker').on("dp.hide",function() {
															socket.emit('parameters_updated', {
																date_start: document.getElementById('start_date_time').value,
																date_end: document.getElementById('end_date_time').value,
																show_stations: document.getElementById('toggle_stations').checked,
																show_events: document.getElementById('toggle_events').checked,
																show_trips: document.getElementById('toggle_trips').checked
															});
											});
										});
									</script>
								</form>
					</div>

					<!-- Content of events pane -->
					<div class="sidebar-pane" id="events">
							<h1 class="sidebar-header">Events<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
							<br>
							<label>Detected Events</label>
							<ul id="events">
								{% for event in events %}
						        <li>{{ event }}</a></li>
						    {% endfor %}
							</ul>
					</div>

					<!-- Content of settings pane -->
					<div class="sidebar-pane" id="settings">
							<h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
							<br>
								<form id='settings_form'>
									<label>Dataset</label>
								  <select class="form-control" name="dataset" id="dataset">
									  <option {% if dataset == 'Divvy' %} selected="selected" {% endif %}>Divvy</option>
									  <option {% if dataset == 'New York Taxi' %} selected="selected" {% endif %}>New York Taxi</option>
									</select>
									<br>
									<label>Detection Method</label>
									<select class="form-control" name="detection_method" id="detection_method">
										<option {% if detection_method == 'Method A' %} selected="selected" {% endif %}>Method A</option>
										<option {% if detection_method == 'Method B' %} selected="selected" {% endif %}>Method B</option>
										<option {% if detection_method == 'Method C' %} selected="selected" {% endif %}>Method C</option>
									</select>

									<!-- A script that destroys the current map, and draws a new one when the dataset is changed-->
									<script>
										$(function() {
											$('#dataset').change(function() {
															remove_map()
															draw_map($("#dataset :selected").text())
															if($("#dataset :selected").text() == 'Divvy') {
																plot_regions({{ precincts | tojson }})
																plot_stations({{ stations | tojson }})
															}
															socket.emit('settings_updated', {dataset: $("#dataset :selected").text(), detection_method: $("#detection_method :selected").text()});
											});
										});

										$(function() {
											$('#detection_method').change(function() {
															socket.emit('settings_updated', {dataset: $("#dataset :selected").text(), detection_method: $("#detection_method :selected").text()});
											});
										});


									</script>
								</form>
					</div>
			</div>
	</div>

	<!-- Declare our leaflet map -->
	<div id="mapid" style="width: 1920px; height: 1200px;"></div>
	<script src="/static/bower_components/sidebar-v2/js/leaflet-sidebar.js"></script>

	<!--This is where the map is actually drawn and plotted upon-->
		{% if dataset == 'Divvy' %}
			<script>
			draw_map({{ dataset | tojson }})
			plot_regions({{ precincts | tojson }})
			plot_stations({{ stations | tojson }})
			</script>
		{% endif %}
		{% if dataset == 'New York Taxi' %}
			<script>
			draw_map({{ dataset | tojson }})
			</script>
		{% endif %}

	</script>
</body>

</html>
